.xx__list___pfIDt {
  font-size: 15px;
}
.xx__list___pfIDt {
  color: #ccc;
}
.yy__list___2wnI2.yy__uuuu___bAQQG {
  font-size: 24px;
}
.yy__list___2wnI2.yy__uuuuu___3K_Aw {
  color: blue;
  border-radius: 4px;
}
