body {
  background-color: #f1f1f1;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.title {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  background-color: #5bc0de;
  color: #fff;
  padding: 12px 8px;
  position: relative;
}

.content {
  padding-bottom: 100px;
  padding-top: 5px;
  background-color: #5bc0de;
  position: relative;
}

.footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.info {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.back {
  position: absolute;
  height: 50px;
  width: 60px;
  left: 0;
  top: 0;
  &:after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(45deg);
    top: 16px;
    left: 26px;
  }
}